.title {
    font-size: 2em;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
}

.game-container {
    align-items: center;
    align-content: center;
    text-align: center;

    position: absolute;
    display: block;

    width: 100%;
    margin: 0px;

    .track-count {
        font-size: 0.75rem;
        opacity: 0.5;
    }

    .lyric-box {
        height: fit-content;
        width: 90%;
        max-width: 1000px;

        margin: auto;
        margin-top: 1rem;
        overflow: hidden;

        background-color: var(--bg-color2);

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .lyric-line {
            min-height: 3em;
            font-size: 1.5em;
            position: relative;
            opacity: 0;

            animation: fade-in 1s forwards;
            transition: 0.1s;
            user-select: none;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}n) {
                    animation-delay: #{$i * 2 - 2}s;
                }
            }

            p {
                margin: 0;
                padding: 0;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:not(:last-child) {
                border-bottom: 2px var(--bg-color) solid;
            }

            &:hover {
                scale: 1.01;
            }
        }
    }
}

.bottom-container {
    position: absolute;
    height: 12rem;
    width: 100%;
    bottom: 0%;
    background-color: black;


    .feedback-box {
        width: 3rem;
        height: 3rem;
        border-radius: 4px;
        position: absolute;
        top: 4rem;
        left: 50%;
        translate: -50% 0;
        animation: fade-in-out 3s forwards;

        text-align: center;
        line-height: 3rem;
        font-weight: 500;
        font-size: 2rem;
        pointer-events: none;

        &.incorrect {
            background-color: #e63535;
        }

        &.correct {
            background-color: #3cbe3c;
        }
    }
}

@media only screen and (max-width: 800px) {
    .bottom-container {
        margin-bottom: 3rem;
    }
}

.button-container {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .skip {
        border: var(--border-color) 1px solid;
        float: left;
    }

    .submit {
        background-color: var(--spotify-green);
        float: right;
    }

}

#guess-input {
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.score-container {
    text-align: center;

    margin: 0;

    width: 16rem;

    .score-text {
        margin: auto;
        height: fit-content;
        /* float: 50% */
        font-size: 3rem;

        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.win-modal {
    text-align: center;
    width: 95vw;
    max-width: 500px;
    background-color: var(--bg-color);
    padding: 1rem;

    img {
        margin: auto;
        display: block;
        width: 350px;
        height: 350px;
        background-color: black;
    }

    .win-modal-buttons {
        display: flex;
        justify-content: space-evenly;

        button {
            width: 8rem;
        }
    }
}