:root {
    --bg-color: #121314;
    --bg-color2: #16171a;
    --bg-color3: #262627;
    --border-color: #30363d;
    --spotify-green: #1db954;
    --blue: #1d8db9;
    --purple: rgba(164, 54, 228);
    --red: rgba(228, 60, 54);
    --nav-height: 4rem;
    --full-height: calc(100% - var(--nav-height));
}

body {
    background-color: black;
    color:white;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
