/* selector */
.items-container {
  width: 100%;
  margin-top: 1rem;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 2fr));

  .placeholder {
    text-align: center;
  }

  .item-box {
    margin: auto;
    margin-bottom: 0px;
    padding-bottom: 4rem;

    width: 12rem;
    height: 17rem;

    position: relative;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;

    transition: 0.2s;

    opacity: 0;
    animation: fade-drop-in 0.5s forwards;

    img {
      display: block;
      width: 12rem;
      height: 12rem;
      object-fit: cover;

      cursor: pointer;

      transition: 0.2s;

      user-select: none;

      background-color: pink;

      &:hover {
        opacity: 0.5;
      }
      &::before {
        display: none;
      }
    }
  }
}
@keyframes fade-drop-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
  }
}
